<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Project</title>
<style>
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #a96347;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 10px;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

pre{
border:5x solid black;
font-family:serif;
font-size:40px;
text-align:center
}
</style>
</head>
<body style="Background-image:url(/static/abt.jpg);">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/beans">Coffee Beans</a></li>
</ul>
<h3 style="font-family:serif; font-size:60px; text-align:center;margin:160px;text-decoration:underline;">About Project</h3>
<pre>
    "This project is made by me <span style = "font-style:italic;">(Nihal Tiwari)</span> using HTML,CSS,Python,MYSQL.
     The main emphasis of the project is on Flask Library functions
with minimal application of Jinja 2 Template engine"
</pre>>
 <footer style="position: absolute;color:white; background-color:#a96347;
    bottom: 10px; width: 100%; text-align:right;padding-right: 50px;border-style: solid;
    border: 1px solid white; border-radius: 5px;border-width: thin;width:95%;font-style:italic;">
    A Project By Nihal Tiwari
    </footer>
</html>